---
layout: default
---
<header>
   <h1>{{ site.github_username }}</h1>
   {% if site.theme_config.show_description == true %}
      <p>{{ site.description }}</p>
   {% endif %}
</header>

See the <a href="{% link about.md %}">about me</a> page.

{{ content }}

{% include menu_item.html collection=site.data.menu.entries %}

<br>
<p>Tools/resources:</p>

<p style='padding-left:4ch'><b>Eh</b> <a href="{% link energy_converter.md %}">energy converter</a></p>
<p style='padding-left:4ch'>🐍 <a href="{% link scripts.md %}">scripts</a></p>
<p style='padding-left:4ch'>🎌 <a href="{% link haiku.md %}">Haiku extractor</a></p>

<br>
<p>Personal projects:</p>

<p style='padding-left:4ch'>🔥 <a href="https://github.com/ntampellini/FIRECODE">FIRECODE</a></p>
<p style='padding-left:4ch'>📈 <a href="https://github.com/ntampellini/python-kinetic-simulator">Python kinetic simulator</a></p>